body{
    background: wheat;
    border:1px solid red;
    margin:0;
    padding:0;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.box{
    height:60vh;
    width:60vw;
    border:2px solid black;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sq:hover{
    background-color: blue;
}